@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center
  }

  .nav-height {
    @apply h-[calc(100vh-60px)]
  }

  .common-padding {
    @apply sm:py-32 py-20 sm:px-10 px-5
  }

  .buy-button {
    @apply border-1 py-2 px-8 cursor-pointer opacity-0 group-hover:opacity-100 transition-all duration-300 hover:text-white hover:bg-black;
  }

}